.fila{
    display:flex;
    flex-wrap: wrap;
    gap: 5px;
    padding-bottom: 5px;
}
.casilla{
    width: 200px;
    height: 200px;
    border: 1px solid black;
    background-color: white;
    font-size: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.casilla:hover{
    width: 200px;
    height: 200px;
    border: 1px solid black;
    background-color: lightgrey;
    font-size: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.container{
    margin-top: 30px;
    margin-left: 430px;
    background-color: black;
    position: absolute;
}
.caja{
    position: absolute;
    border: 5px solid white;
    background-color: black;
    color: white;
    width: 300px;
    height: 70px;
    margin-top: 20px;
    margin-left: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.marcador{
    position: absolute;
    border: 5px solid white;
    background-color: black;
    color: white;
    width: 300px;
    height: 70px;
    margin-top: 95px;
    margin-left: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.nombreX{
    width: 150px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.nombreO {
    width: 150px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.victoriasX{
    width: 150px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.victoriasO{
    width: 150px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
}
body{
    background-color: black;
}
.boton{
    position: absolute;
    width: 100px;
    height: 40px;
    margin-left: 1100px;
    margin-top: 30px;
}
.boton:hover{
    position: absolute;
    background-color: darkgray;
    width: 100px;
    height: 40px;
    margin-left: 1100px;
    margin-top: 30px;
    cursor: pointer;
}
.conteo{
    position: absolute;
    border: 5px solid white;
    background-color: black;
    color: white;
    width: 240px;
    height: 200px;
    margin-top: 30px;
    margin-left: 1210px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.textoContador{
    border: 1px solid white;
    background-color: black;
    color: white;
    width: 240px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.contador{
    border: 1px solid white;
    background-color: black;
    color: white;
    width: 240px;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 100px;
}